*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host{
    --Blanco: #fff;
    --Naranja: #d23a03;
    --Beige: #f9efe4;
    --Verde: #8DAA91;
    --Rosa: #ffe3df;
    --Negro: #1E1E24;
}

.cursiva-font{
    font-family: 'Pencerio', cursive;
}
.general-font{
    font-family: 'Bonny', serif;
    font-size: 2rem;
}
.title-font{
    font-family: 'Melodrama', serif;
}
/** GENERAL STYLES */
.d-flexx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.d-row{
    flex-direction: row;
}
.d-col{
    flex-direction: column;
}

.btn-general{
    width: auto;
    height: fit-content;
    padding: 1rem;
    border: solid 2px var(--Negro);
    background-color: var(--Negro);
    color: var(--Blanco);
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}   
    .btn-general:hover{
        background-color: var(--Naranja);
    }
.btn-principal{

}
/** GENERAL STYLES */
.main-cotainer{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: var(--Beige);
}
    .portfolio--link{
        position: absolute;
        top: 2rem;
        left: 2rem;
        color: var(--Negro);
        text-decoration: none;
    }

    .card--container{
        width: auto;
        min-width: 300px;
        max-width: 600px;
        height: auto;
        aspect-ratio: 1/1;
        align-content: start;
        text-align: center;
        background-color: var(--Blanco);
        overflow: hidden;
        border-radius: 3rem;
        padding: 2rem;
        transform: rotate(5deg);
        corner-shape: scoop;
        /* corner-shape: squircle; */
    }
        .title--card{
            width: fit-content;
            height: auto;
            font-size: 5rem;
            font-weight: bold;
            color: var(--Naranja);
        }
            .title--card span{
                width: fit-content;
                height: auto;
                aspect-ratio: 1/1;
                overflow: hidden;
                margin-right: 1rem;
            }
                .title--card svg{
                    width: 5rem;
                    height: auto;
                    aspect-ratio: 1/1;
                }
        .inner--card{
            width: 100%;
            height: auto;
            background-color: var(--Blanco);
            flex-grow: 1;
            color: var(--Negro);
            gap: 1rem;
        }

    /* div{
        width: 5rem;
        background-color: var(--Blanco);
        height: auto;
        aspect-ratio: 1/1;
        overflow: hidden;
        background-image: url("../media/sprites/flower_sprite.png");
        background-repeat: no-repeat;
        border: solid 1px #000;
        background-size: 15rem;
    }
        .flower_01{
            background-position: 0 -0.2rem;
        }
        .flower_02{
            background-position: -5rem -0.2rem;
        }
        .flower_03{
            background-position: -10rem -0.2rem;
        } */