*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host{
    --Blanco: #fff;
    --Naranja: #d23a03;
    --Beige: #f9efe4;
    --Verde: #8DAA91;
    --Rosa: #ffe3df;
    --Negro: #1E1E24;
}

/** FONTS STYLES */
.cursiva-font{
    font-family: 'Pencerio', cursive;
}
.general-font{
    font-family: 'Bonny', serif;
    font-size: 2rem;
}
.title-font{
    font-family: 'Melodrama', serif;
}
/** FONTS STYLES */


/** GENERAL STYLES */
.d-flexx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.d-row{
    flex-direction: row;
}
.d-col{
    flex-direction: column;
}

.btn-general{
    width: auto;
    height: fit-content;
    padding: 1rem;
    border: solid 2px var(--Negro);
    background-color: var(--Negro);
    color: var(--Blanco);
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 3rem;
    text-decoration: none;
    corner-shape: squircle;
}   
    .btn-general:hover{
        background-color: var(--Naranja);
    }
.btn-principal{

}
/** GENERAL STYLES */


.main-cotainer{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: var(--Beige);
}

    .portfolio--link{
        position: absolute;
        top: 2rem;
        left: 2rem;
        color: var(--Negro);
        text-decoration: none;
    }